body {
    /* text-align:center; */
    display:flex;
    flex-direction:column;
    align-items: center;
}
.h2-container{
    
    width: 100%;
    text-align:center;
}
h2 {
   color: white;
   font-family: sans-serif;
   background-color: rgb(126, 203, 125);
}
#input-field{
    border: 2px solid rgb(122, 197, 121);
    width:auto;
  
   
}

#input-row{
    /* display:grid;
    grid-template-columns: 50% 50%; */
    display:flex;
    width:110%;
    
    
}
button{
    border: 2px solid  rgb(126, 203, 125);
    font-family: Arial, Helvetica, sans-serif;
    width:50%;
    color: rgb(126, 203, 125);
    
}

button:hover{
    cursor: pointer;
}

table{
    display:inline;
    margin: 0 70% 0 0;
}


#remove-button{
    background-color: red;
    width:10px;
    color: white;
    border: white;
    margin: 0 10px 0 0;
    padding: 0 15px 0 5px;
    
}

#listItem{
    color: rgb(255,149,0);
    font-size: 30px;   
    
}